config ARCH_FMSH
	bool "FMSH PSOC ARM Cortex A7 Platform" if ARCH_MULTI_V7
	select ARM_AMBA
	select ARM_GIC
	select COMMON_CLK
	select CPU_V7
	select GENERIC_CLOCKEVENTS
	select HAVE_ARM_TWD if SMP
	select ICST
	select MIGHT_HAVE_CACHE_L2X0
	select USE_OF
	select HAVE_SMP
#	select SPARSE_IRQ
	select DW_APB_TIMER_OF
	select SOC_BUS
	select ARCH_SUPPORTS_BIG_ENDIAN
	help
	  Support for FMSH PSOC ARM Cortex A7 Platform
