/*
 * FMSH PSOC board DTS
 * Child board B NOR_SPI_I2C
 *
 * Copyright (C) 2018 FMSH, Inc.
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

#include "fmsh-psoc.dtsi"

/ {
	model = "FMSH PSOC Board";
	compatible = "fmsh,fmsh-psoc";

	memory {
		device_type = "memory";
		reg = <0x00100000 0x3ff00000>;
	};

	chosen {
		bootargs = "console=ttyPS0,115200 earlyprintk loglevel=8 root=/dev/ram rw";
		/* bootloader will place initrd at this address */
		linux,initrd-start = <0x12000000>;
		linux,initrd-end = <0x12800000>;
	};

        aliases {
              serial0 = &uart0;
              serial1 = &uart1;
        };
};

&nor0 {
	status = "okay";
	/*
	fs@0 {
		label = "fs";
		reg = <0 0x800000>;
	};
	firmware@f80000 {
		label ="firmware";
		reg = <0x800000 0x1000000>;
//		read-only;
	};
	*/
};

&nor1 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&spi0 {
	cs-gpios = <&portb 10 0>;
	status = "okay";

	flash1@0 {
		compatible = "spansion,s25fl256s1", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
};

&spi1 {
	status = "okay";

	spidev: dh2228@0 {
	      compatible = "rohm,dh2228fv";
	      reg = <0>;
	      spi-max-frequency = <500000>;
	};
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c256";
		reg = <0x50>;
	};
};

&watchdog {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

&gpio3 {
	status = "okay";
};

